@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Background body color */
body {
  background: #1e1e1e;
}

header {
  color: #fff;
  width: 100%;
  height: 62px;
  display: flex;
  background-color: #000;
}

.navBar {
  display: flex; 
  width: 100%;
  justify-content: space-between;
}

.logo{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Bebas Neue", cursive;
  margin-left: 28px;
  font-size: 18.5px; 
}

.conect{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16.5px;
  margin-right: 20px;
}

.conect p {
  position: relative;
}

.conect p::after {
  content: "";
  position: absolute;
  top: 22px;
  width: 0;
  left: 1px;
  height: 3px;
  background-color: #ff0048;
  border-radius: 5px;
  transition: all ease-in 1s;
}

.conect:hover p::after {
  width: 100%;
} 

.conect img{
  display: flex;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  fill: #fff;
}

.conect:hover img{
  fill: #ff0048;
}

.navMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.navMenu ul div button img{
  width: 15px;
  height: 15px;  
  fill: #fff;
}

.buttonIcon {
  margin: 100px 0px;
  padding: 0px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
  min-height: 200px;
  flex-direction: column;
}

.buttonIcon .div-input {
  width: 60%;
  animation: input-animation 1s ease-in-out;
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10px
}

.buttonIcon .div-input > button {
  height: 35px;
  border-radius: 0px;
  width: 35px;
  border: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff0048;
  cursor: pointer;
}

.buttonIcon .div-input > button:nth-child(1) {
  border-bottom-left-radius: 4px;
}

.buttonIcon .div-input button:nth-child(3) {
  border-top-right-radius: 4px;
}

.buttonIcon .div-input > button:hover {
  background-color: #ff0048ad;
}

.buttonIcon .div-input > button img{ 
  height: 20px;
  width: 20px;
}

.buttonIcon .div-input input {
  animation: input-animation 1s ease-in-out;
  height: 35px;
  border-radius: 0px;
  border: none;
  outline: none;
  padding-left: 20px;
  width: 70%;
}

.search-category {
  -webkit-appearance: none;
  -moz-appearance:    none;
  appearance:         none;
  height: 35px;
  border-radius: 1px;
  border: none;
  padding: 0 20px 0 0;
  background: #ff0048 url('https://img.flaticon.com/icons/png/512/271/271210.png?size=1200x630f&pad=10,10,10,10&ext=png&bg=0000') 95% no-repeat;
  background-size: 18px;
}

@keyframes input-animation {
  from {
    opacity: 0;
    top: 150px;
    width: 0px;
  }
  to {
    opacity: 1;
    width: 60%;
    top: 10px;
  }
}

.ul-li {
  display: flex;
  max-width: 600px;
  justify-content: space-around;
  width: 50%;
}

.buttonIcon li a img {
  width: 32px;
  height: 32px;
  fill: #fff;
  cursor: pointer;
}

.buttonIcon li a p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  color: #ffff;
  text-align: center;
  margin-top: 6px;
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.buttonIcon li a p::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color: #ff0048;
  bottom: -4px;
  transition: all ease 2s;
}

.buttonIcon li:hover a p::after {
  width: 100%;
}

.buttonIcon li a {
  width: 82px;
  height: 82px;
  background-color: #4A4A48;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttonIcon > li {
  width: 10%;
  max-width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.buttonIcon li a:hover img {
  fill: #ff0048;
}

.buttonIcon li a:hover p {
  padding-bottom: 0px;
}

/* button filter */

.btn-filter {
  display: flex;
  width: 75%;
  margin: 0 auto;
}

.btn-filter button{
  width: 50px;
  height: 50px;
  background: #ff0048;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: auto;
}

button:hover{
  filter: brightness(0.95);
}

button img{
  width: 37px;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  fill: #ffff;
}

/* Layout grid zone */

.results {
  /* fit in up to 5 columns of 180px wide tiles, 20px gutters: 5*180 + 4*20: */
 max-width: 80%;
 margin: 0 auto;
 display: grid;
 grid-gap: 20px;
 /* fit as many columns as possible, 180px wide each: */
 grid-template-columns: repeat(auto-fill, 180px);
 /* each row is 20px high -- we always span 2+ */
 grid-auto-rows: minmax(20px, auto);
 justify-content: center;	
}

.results > * {
 width: 180px;
 /* only for older non-grid browsers: */
 float: left;  
 /* only for older non-grid browsers: */
 margin: 15px;
}

.ht0 { grid-row-end: span 2; }
.ht1 { grid-row-end: span 3; }
.ht2 { grid-row-end: span 4; }
.ht3 { grid-row-end: span 5; }
.ht4 { grid-row-end: span 6; }
.ht5 { grid-row-end: span 7; }
.ht6 { grid-row-end: span 8; }
.ht7 { grid-row-end: span 9; }

@supports (display: grid) {
 .results > * {
   /* modern browser -- grid-gap takes care of us: */
   margin: 0 auto;
 }
}

/* cosmetics only from here on down */
.results > * {
 background-color: #ddd;
}

.results div {
 border-radius: 6px;
}

.results div img {
 width: 100%;
 min-height: 100%;
 object-fit: cover;
 border-radius: 6px;
}

.results > * span {
 font-size: 125%;
 color: #cc3333;
 font-family: 'Ultra';
}

@media(max-width: 600px){
  .buttonIcon .div-input button{
    width: 50px;
  }
  .buttonIcon .div-input input {
    width: 300px;
  }
  .buttonIcon .div-input {
    width: 100%;
  }
  .ul-li {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .buttonIcon > li {
    width: 10%;
    max-width: 120px;
  }
}