
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout-grid area */

.layout-grid {
  max-width: 1280px;
  margin: 0 auto;
  column-count: 6;
}

.img-content {
  border-radius: 12px;
  margin-bottom: 16px;
  overflow: hidden;
}

img{
  display: block;
  max-width: 100%;
}

@media (max-width: 800px){
  .layout-grid{
    max-width: 600px;
    column-count: 3;
  }
}

/* horizontal carrossel scroll */

.container-box {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 1280px;
    overflow-x: hidden;
    overflow-y: hidden;
    height: 200px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scrollbar-width: none;
    margin: 0 auto;
}

.container-box .boxes {
    display: flex;
}

.container-box .box {
    scroll-snap-align: start;
    background-color: #ff0048;
    margin: 10px;
    height: 120px;
    width: 180px;
    border-radius: 12px;
}