* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* modal login screen area */

.modal-container{
  width: 100vw;
  height: 100vh;
  background: rgb(0,0,0,.5);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2000;
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container.mostrar{
  display: flex;
}

.modal{
  background: #ffff;
  width: 822px;
  height: 608px;
  padding: 19px;
  border: none;
  border-radius: 16px;
  position: relative;
}

@keyframes modal {
  from{
    opacity: 0;
    transform: translate3d(0, 60px, 0);
  }
  to{
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}

.mostrar .modal{
  animation: modal 3s;
}

.imagem-f{
  width: 100%;
  height: 570px;
  max-width: 376px;
  background-color: #ff0048;
  display: flex;
  border-radius: 16px;
}

.img-perfil{
  width: 80px;
  height: 80px;
  position: absolute;
  top: 19px;
  left: 430px;
  background-color: black;
  border-radius: 50%;
}

.nomedoestúdio{
  width: 185px;
  height: 35px;
  position: absolute;
  top: 39px;
  left: 530px;
  font-family: "Pattaya";
  font-size: 30px;
  color: black;
}

.post-describe{
  width: 340px;
  position: absolute;
  top: 163px;
  left: 430px;
  font-family: 'Dosis';
  font-size: 16px;
}

.subtitle{
  position: absolute;
  top: 126px;
  left: 430px;
  font-size: 27px;
  font-family: 'Dosis';
}

.close-login{
  position: absolute;
  right: 21px;
  top: -20px;
  width: 38px;
  height: 38px;
  border: 2.5px solid white;
  border-radius: 50%;
  background: #ff0048;
  color: #ffff;
  font-family: "Indie Flower", regular;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgb(0,0,0, .1);
}

