*{
    margin: 0;
    padding: 0;

}
.hero{

    height: 100%;
    width: 100%;
    
    background-position: center;
    background-size: cover;
    position: absolute;
    



}
body{
    background: rgba(0, 0, 0, 0.788);
}

.form-box{
        width: 380px;
        height: 800px;
        position: relative;
        margin: 6% auto;
        background: rgb(213, 211, 216);
        padding: 5px;
        overflow: hidden;
        border-radius: 1%;
}
.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;


}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;


}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right,#ff105f,#880d36);
    border-radius: 30px;
    transition: 0.5s;

}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;

}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    background: transparent;


}
#welcome{

    text-align: center;
    font-family: sans-serif;
    
    
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right,#ff105f,#880d36);
    border: 0;
    outline: none;
    border-radius: 30px;
    margin-left: 10px;
}

.check-boxx{
    margin: 30px 10px 30px 0;
    margin-top: 10px;}

.span{
    color: #777;
    font-size: 12px;
    margin-top: 3px;
    
    position: absolute;
    margin-left: 10px;
    

}

#login{
    left: 50px;
}
#register{
    left: 450px;
}
#btnentrar{

    text-align: center;
    margin: auto;
    margin-top: 40px;

}
#btnregistrar{
    text-align: center;
    margin: auto;
    margin-top: 40px;
}
#regtop{
    text-align:start;
    
}
#dat{
    color: grey;
}
